<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>tacit-page</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Poppins:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900i" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">


        <header class="header">
            <div class="head">
                <div class="container">
                    <div class="logo">ModaX</div>
                    <nav class="navigation">
                        <a href="#">home</a>
                        <a href="#">portfolio</a>
                        <a href="#">shop</a>
                        <a href="#">page</a>
                        <a href="#">blog</a>
                        <a href="#">elements</a>
                    </nav>
                    <div class="searchCart">
                        <button class="chartButt">
                    <div class="butt-inner">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 30 30" width="27px" height="27px" enable-background="new 0 0 30 30" >
                          <g>
                            <g>
                              <path d="M20,6V5c0-2.761-2.239-5-5-5s-5,2.239-5,5v1H4v24h22V6H20z M12,5c0-1.657,1.343-3,3-3s3,1.343,3,3v1h-6V5z M24,28H6V8h4v3    h2V8h6v3h2V8h4V28z"/>
                            </g>
                          </g>
                        </svg>
                    </div>
                  </button>
                        <button class="searchButt">
                    <div class="butt-inner">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" enable-background="new 0 0 512 512" width="23px" height="23px">
                          <g>
                            <path d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z"/>
                          </g>
                        </svg>
                    </div>
                  </button>
                    </div>
                </div>
            </div>
            <div class="header-title">
                Men’s Lifestyle Clothing
            </div>
            <ul class="bradcrumbs">
                <li class="bradcrumb"><a href="#">Home</a></li>
                <li class="bradcrumb"><a href="#">Catalog</a></li>
                <li class="bradcrumb"><a href="#">Menu</a></li>
                <li class="bradcrumb"><span>Clothing</span></li>
            </ul>
        </header>
        <div class="banner-block">
            <div class="banner1" style="background-image:url(img/banner1.png)">
                <div class="cat">
                    lifestyle
                </div>
                <div class="subCat">
                    New Now: Striped cotton
                </div>
                <button class="more">More Info</button>
            </div>
            <div class="banner2" style="background-image:url(img/banner2.png)">
                <div class="cat">
                    lifestyle
                </div>
                <div class="subCat">
                    Fashion Collecttion
                </div>
                <button class="more">More Info</button>
            </div>
        </div>
        <div class="content">
            <div class="top-pan">
                <div class="top-pan__filter">
                    <span>Filter</span>
                    <button>
              <div class="butt-inner">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="18px" height="18px" x="0px" y="0px" viewBox="0 0 34.057 34.057" style="enable-background:new 0 0 34.057 34.057;" xml:space="preserve">
                    <g>
                      <g>
                        <path  d="M17.028,32.558c-6.632,0-12.534-4.211-14.688-10.479c-0.16-0.463,0.087-0.969,0.551-1.127    c0.462-0.16,0.968,0.086,1.127,0.551c1.908,5.551,7.137,9.279,13.011,9.279c7.585,0,13.755-6.17,13.755-13.754    c0-0.49,0.398-0.889,0.888-0.889c0.49,0,0.887,0.398,0.887,0.889C32.558,25.591,25.592,32.558,17.028,32.558z"/>
                      </g>
                      <g>
                        <path  d="M2.386,17.916c-0.489,0-0.887-0.396-0.887-0.887c0-8.562,6.967-15.529,15.529-15.529    c6.63,0,12.532,4.209,14.688,10.475c0.159,0.463-0.087,0.969-0.551,1.129c-0.465,0.158-0.969-0.088-1.128-0.551    c-1.909-5.551-7.137-9.279-13.01-9.279c-7.584,0-13.755,6.172-13.755,13.756C3.273,17.519,2.876,17.916,2.386,17.916z"/>
                      </g>
                      <g>
                        <path  d="M30.842,13.332c-0.087,0-0.177-0.014-0.265-0.041l-6.163-1.93    c-0.467-0.147-0.727-0.645-0.581-1.113c0.146-0.467,0.646-0.727,1.111-0.582l5.379,1.686l2.021-5.066    c0.182-0.455,0.699-0.678,1.153-0.494c0.455,0.182,0.678,0.697,0.496,1.152l-2.328,5.83    C31.528,13.117,31.196,13.332,30.842,13.332z"/>
                      </g>
                      <g>
                        <path  d="M0.887,28.332c-0.109,0-0.221-0.021-0.328-0.065c-0.455-0.182-0.677-0.697-0.495-1.152l2.327-5.83    c0.172-0.432,0.646-0.658,1.089-0.518l6.163,1.93c0.468,0.146,0.727,0.644,0.581,1.111c-0.146,0.469-0.645,0.729-1.111,0.582    l-5.378-1.684l-2.023,5.066C1.573,28.119,1.239,28.332,0.887,28.332z"/>
                      </g>
                    </g>
                    </svg>        
              </div>  
            </button>
                </div>
                <div class="top-pan__sortBy">
                    <span>sort by:</span>
                    <multiselect v-model="sortBy.val" :options="sortBy.opts" :searchable="false" :close-on-select="true" :clear-on-select="false" label="name" track-by="name">
                    </multiselect>
                </div>
                <div class="top-pan__qty">
                    <span>show:</span>
                    <multiselect v-model="show.val" :options="show.opts" :searchable="false" :close-on-select="true" :clear-on-select="false" label="qty" track-by="qty">
                    </multiselect>
                </div>
                <div class="top-pan__view">
                    <button>
              <div class="butt-inner">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="19px" height="19px">
                  <g>
                    <g>
                      <rect y="190.67" width="160.67" height="130.67"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <rect x="190.67" width="130.67" height="160.67"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <rect x="190.67" y="190.67" width="130.67" height="130.67"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <rect x="190.67" y="351.33" width="130.67" height="160.67"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M351.333,351.333V512H467c24.813,0,45-20.187,45-45V351.333H351.333z"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M45,0C20.187,0,0,20.187,0,45v115.667h160.667V0H45z"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M0,351.333V467c0,24.813,20.187,45,45,45h115.667V351.333H0z"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <rect x="351.33" y="190.67" width="160.67" height="130.67"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M467,0H351.333v160.667H512V45C512,20.187,491.813,0,467,0z"/>
                    </g>
                  </g>
                  </svg>
              </div>  
            </button>
                    <button>
              <div class="butt-inner">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="19px" height="19px" viewBox="0 0 511.626 511.627" style="enable-background:new 0 0 511.626 511.627;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M118.771,200.999H27.406c-7.611,0-14.084,2.664-19.414,7.994C2.663,214.32,0,220.791,0,228.407v54.823    c0,7.61,2.663,14.078,7.992,19.406c5.33,5.329,11.803,7.994,19.414,7.994h91.365c7.611,0,14.084-2.665,19.414-7.994    c5.33-5.328,7.992-11.796,7.992-19.406v-54.823c0-7.616-2.662-14.087-7.992-19.414S126.382,200.999,118.771,200.999z"/>
                      <path d="M118.771,54.814H27.406c-7.611,0-14.084,2.663-19.414,7.993C2.663,68.137,0,74.61,0,82.221v54.821    c0,7.616,2.663,14.091,7.992,19.417c5.33,5.327,11.803,7.994,19.414,7.994h91.365c7.611,0,14.084-2.667,19.414-7.994    s7.992-11.798,7.992-19.414V82.225c0-7.611-2.662-14.084-7.992-19.417C132.855,57.48,126.382,54.814,118.771,54.814z"/>
                      <path d="M118.771,347.177H27.406c-7.611,0-14.084,2.662-19.414,7.994C2.663,360.502,0,366.974,0,374.585v54.826    c0,7.61,2.663,14.086,7.992,19.41c5.33,5.332,11.803,7.991,19.414,7.991h91.365c7.611,0,14.084-2.663,19.414-7.991    c5.33-5.324,7.992-11.8,7.992-19.41v-54.826c0-7.611-2.662-14.083-7.992-19.411S126.382,347.177,118.771,347.177z"/>
                      <path d="M484.215,200.999H210.131c-7.614,0-14.084,2.664-19.414,7.994s-7.992,11.798-7.992,19.414v54.823    c0,7.61,2.662,14.078,7.992,19.406c5.327,5.329,11.8,7.994,19.414,7.994h274.091c7.61,0,14.085-2.665,19.41-7.994    c5.332-5.328,7.994-11.796,7.994-19.406v-54.823c0-7.616-2.662-14.087-7.997-19.414    C498.3,203.663,491.833,200.999,484.215,200.999z"/>
                      <path d="M484.215,347.177H210.131c-7.614,0-14.084,2.662-19.414,7.994c-5.33,5.331-7.992,11.8-7.992,19.41v54.823    c0,7.611,2.662,14.089,7.992,19.417c5.327,5.328,11.8,7.987,19.414,7.987h274.091c7.61,0,14.085-2.662,19.41-7.987    c5.332-5.331,7.994-11.806,7.994-19.417v-54.823c0-7.61-2.662-14.085-7.997-19.41C498.3,349.846,491.833,347.177,484.215,347.177z    "/>
                      <path d="M503.629,62.811c-5.329-5.327-11.797-7.993-19.414-7.993H210.131c-7.614,0-14.084,2.663-19.414,7.993    s-7.992,11.803-7.992,19.414v54.821c0,7.616,2.662,14.083,7.992,19.414c5.327,5.327,11.8,7.994,19.414,7.994h274.091    c7.61,0,14.078-2.667,19.41-7.994s7.994-11.798,7.994-19.414V82.225C511.626,74.613,508.964,68.141,503.629,62.811z"/>
                    </g>
                  </g>
                </svg> 
              </div>  
            </button>
                    <button class="viewAll">
              <div class="butt-inner">
                  view All
              </div>
            </button>
                </div>

            </div>
            <div class="prods">
                <div class="prods__filters">
                    <div class="prods__filters__item">
                        <div class="prods__filters__item__title opened">
                            Categories
                            <button class="close">+</button>
                        </div>
                        <ul class="prods__filters__item__opts1">
                            <li><span>Lifestyle</span><span>01</span></li>
                            <li><span>Running</span><span>15</span></li>
                            <li><span>Training & Gym</span><span>20</span></li>
                            <li><span>Clothing</span><span>25</span></li>
                            <li><span>Scarves</span><span>30</span></li>
                            <li><span>Accessories</span><span>35</span></li>
                        </ul>
                    </div>
                    <div class="prods__filters__item">
                        <div class="prods__filters__item__title opened">
                            Size
                            <button class="close">+</button>
                        </div>
                        <ul class="prods__filters__item__opts2">
                            <li>s</li>
                            <li class="active">m</li>
                            <li>l</li>
                            <li>xl</li>
                        </ul>
                    </div>
                </div>
                <div class="prods__products">
                    <div class="prods__products__wrap">
                        <product v-for="prod in items" :item="prod" :key="prod.id"></product>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <button class="prev"></button>
                <ul class="pags">
                    <li class="active"><button>01</button></li>
                    <li><button>02</button></li>
                    <li><button>03</button></li>
                    <li><button>04</button></li>
                    <li><button>05</button></li>
                </ul>
                <button class="next"></button>
            </div>
        </div>
        <div class="slider">
            <div id="banners">
                <div class="slide">
                    <div class="image" style="background-image:url(http://bgwall.net/wp-content/uploads/2014/09/Dandelion-Flower-Wallpaper-Full-HD.jpg)"></div>
                    <div class="info">
                        <div class="title">New Product</div>
                        <div class="text">The new Collection of Summer</div>
                    </div>
                </div>
                <div class="slide">
                    <div class="image" style="background-image:url(http://bgwall.net/wp-content/uploads/2014/09/Dandelion-Flower-Wallpaper-Full-HD.jpg)"></div>
                    <div class="info">
                        <div class="title">New Product2</div>
                        <div class="text">The new Collection of Summer</div>
                    </div>
                </div>
                <div class="slide">
                    <div class="image" style="background-image:url(http://bgwall.net/wp-content/uploads/2014/09/Dandelion-Flower-Wallpaper-Full-HD.jpg)"></div>
                    <div class="info">
                        <div class="title">New Product3</div>
                        <div class="text">The new Collection of Summer</div>
                    </div>
                </div>
            </div>


        </div>



    </div>
    <div class="parteners">
        <div class="part"></div>
        <div class="part"></div>
        <div class="part"></div>
        <div class="part"></div>
    </div>
    <footer class="footer">

    </footer>
    <script>
        window.prods = [{
            id: 0,
            name: 'Essential cotton-blend',
            img: 'https://i.simpalsmedia.com/marketplace/products/original/4011f6e25b3a4a95702915ffaa45b8d5.jpg',
            price: {
                new: 100,
                old: 200
            },
            sale: true
        }, {
            id: 1,
            name: 'Ruffle sleeve t-shirt',
            img: 'https://i.simpalsmedia.com/marketplace/products/original/4011f6e25b3a4a95702915ffaa45b8d5.jpg',
            price: {
                new: 175
            },
            sale: false
        }, {
            id: 2,
            name: 'Double layer top',
            img: 'https://i.simpalsmedia.com/marketplace/products/original/4011f6e25b3a4a95702915ffaa45b8d5.jpg',
            price: {
                new: 200
            },
            sale: false
        }, {
            id: 3,
            name: 'V-neck cotton t-shirt',
            img: 'https://i.simpalsmedia.com/marketplace/products/original/4011f6e25b3a4a95702915ffaa45b8d5.jpg',
            price: {
                new: 100
            },
            sale: true
        }, {
            id: 4,
            name: 'Message cotton t-shirt',
            img: 'https://i.simpalsmedia.com/marketplace/products/original/4011f6e25b3a4a95702915ffaa45b8d5.jpg',
            price: {
                new: 100
            },
            sale: false
        }, ];
    </script>
    <script src="/dist/build.js"></script>
</body>

</html>